

p, ul, li {
    text-align: center;
    text-decoration: none;
    list-style-position: inside;
}

.titrecompetence {
    text-align: center;
    font-weight: bolder;
}

.veille {
    text-align: center;
  }
  
  .veille span {
    display: inline-block;
    vertical-align: top; /* Aligner verticalement le contenu */
  }
  
  .wakelet {
    width: 50px; /* Ajustez la largeur de l'image selon vos besoins */
    height: 50px;
    margin-left: 20px; /* Ajoutez une marge à gauche pour séparer l'image du texte */
  }



  

